[class*="wrapper"] {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 12px;
}

h2 {
  margin: 0;
}

.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  height: 84px;
}

.navbar__wrapper {
  height: 84px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
}

.navbar__site-name a {
  color: #489846;
  font-size: 36px;
  text-decoration: none;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__list li {
  margin-left: 35px;
}

.navbar__list li.active a, .navbar__list li:hover a {
  background: #ff7286;
  color: white;
}

.navbar__list li a {
  text-decoration: none;
  color: #010101;
  padding: 12px 12px;
  border-radius: 8px;
  display: block;
  transition: background 0.5s;
  font-size: 18px;
}

.prizes {
  text-align: center;
  margin-top: 80px;
}

.prizes__title {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
}

.prizes__title::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 36px;
  background: #a3dea2;
  vertical-align: text-top;
  margin-right: 17px;
}

.prizes__table {
  margin-top: 42px;
  border: 1px solid #e6e6e6;  
  font-size: 16px; 
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.prizes__table th:nth-of-type(2), .prizes__table th:nth-of-type(3) {
  text-align: left;
}

.prizes__table th { 
  background-color: #efefef;
  padding: 25px 40px;
  color: #626262;
}

.prizes__table td:nth-of-type(2), .prizes__table td:nth-of-type(3)  {
  text-align: left;
}

.prizes__table td { 
  background: #f8f8f8;
  padding: 26px 40px;
}

.prizes__table tr:last-of-type td {
  text-align: right;
  padding: 15px 40px;
}

.prizes td input {
  box-sizing: border-box; 
  width: 55px;
  height: 30px;
  padding: 10px 5px 10px 17px;
}

.prizes td img {
  width: 16px;
  height: 16px;
}

.prizes td a+a {
  margin-left: 10px;
}

.newprize {
  margin-top: 60px;
}

.newprize__title {
  font-weight: bold;
  font-size: 24px;
}

.newprize__info {
  margin: 42px 30px 0 105px;
}

.newprize__info-content {
  display: flex;
  align-items: center;
}

.newprize__info-content label {
  flex-basis: 120px;
  text-align: right;
}

.newprize__info-content input, .newprize__info-content textarea {
  box-sizing: border-box;
  height: 38px;
  padding: 5px 5px;
  flex: 1;
  margin-left: 20px;
}

.newprize__info-content+.newprize__info-content {
  margin-top: 20px;
}

.required::after {
  display: inline-block;
  content: '*';
  color: #ff0000;
  font-size: 5px;
}

.button-prob,.button-upload {
  display: block;
  cursor: pointer;
  margin-top: 42px;
  margin-left: auto;
  text-align: center;
  line-height: 46px;
  width: 184px;
  height: 46px;
  border: 1px solid #3f633c;
  background-color: #f1fff2;
}

footer {
  margin-top: 190px;
}

.footer__top {
  background: #e8efee;
  padding: 32px 0px;
  color: #484848;
}

.footer__topwrapper {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
}

.footer__link a {
  text-decoration: none;
  color: #484848;
  transition: all 0.2s;
}

.footer__link a:hover {
  color: #E0E0E0;
}

.footer__link a+div {
  margin: 0 3px;
}


.footer__site {
  color: #489846;
  font-size: 36px;
}

.footer__info div+div {
  margin-top: 10px;
  margin-right: 16px;
}

.footer__bottom {
  background: #35564b;
  text-align: center;
  padding: 12px 0px;
  color: white;
  font-size: 16px;
}

.footer__bottomwrapper {
  display: flex;
  justify-content: center;
}

.errmsg,.errmsg-prob {
  color: #ff0000;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

@media(max-width: 768px) {
  .navbar {
    height: 120px;
  }

  .navbar__wrapper {
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
    padding: 0px;
  }

  .navbar__list {
   width: 100%;
   margin-top: 10px;
  }

  .navbar__list li {
    margin-left: 0px;
    flex: 1;
    text-align: center;
  }

  .navbar__list li a {
    border-radius: 0;
    padding: 12px 8px;
  }

  .footer__topwrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin-right: 0;
    margin-top: 16px;     
  }

  .footer__bottomwrapper {
    flex-direction: column;
  }

  /* Force table to not be like tables anymore */
  table.prizes__table, .prizes__table thead, .prizes__table tbody, .prizes__table th, .prizes__table td, .prizes__table tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  .prizes__table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .prizes__table tr {
    border: 1px solid #ccc; 
  }

  .prizes__table th:nth-of-type(2), .prizes__table th:nth-of-type(3) {
    text-align: center;
  }

  .prizes__table td:nth-of-type(2), .prizes__table td:nth-of-type(3) {
    text-align: center;
  }
  
  .prizes__table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .prizes__table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 26px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  .prizes__table td:nth-of-type(1):before { content: "id"; }
  .prizes__table td:nth-of-type(2):before { content: "名稱"; }
  .prizes__table td:nth-of-type(3):before { content: "內容"; }
  .prizes__table td:nth-of-type(4):before { content: "權重"; }
  .prizes__table td:nth-of-type(5):before { content: "機率"; }
  .prizes__table td:nth-of-type(6):before { content: "編輯/刪除 獎項"; }
  .prizes__table tr:last-of-type td:nth-of-type(1):before { content: ""; }
  
  .prizes, .newprize {
    text-align: center;
  }

  .button-prob,.button-upload {
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .newprize__info {
    margin-left: auto;
    margin-right: auto;
  }

  .newprize__info-content {
    flex-direction: column;
  }

  .newprize__info-content label {
    flex: 1;
  }

  .newprize__info-content input, .newprize__info-content textarea {
    margin-left: 0;
    margin-top: 20px;
    width: 90%;
  }
}