[class*="wrapper"] {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 12px;
}

h2 {
  margin: 0;
}

.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  height: 84px;
}

.navbar__wrapper {
  height: 84px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
}

.navbar__site-name a {
  color: #489846;
  font-size: 36px;
  text-decoration: none;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__list li {
  margin-left: 35px;
}

.navbar__list li.active a, .navbar__list li:hover a {
  background: #ff7286;
  color: white;
}

.navbar__list li a {
  text-decoration: none;
  color: #010101;
  padding: 12px 12px;
  border-radius: 8px;
  display: block;
  transition: background 0.5s;
  font-size: 18px;
}

.menu {
  text-align: center;
  margin-top: 60px;
}

.menu__title {
  font-weight: bold;
  font-size: 36px;
}

.menu__title::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 36px;
  background: #a3dea2;
  vertical-align: text-top;
  margin-right: 17px;
}

.dishes {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.dish {
  text-align: center;
  margin-top: 10px;
  flex: 0 0 30%;
}

.dish.selected {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  padding: 5px;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.dish.selected::before {
  display: block;
  content: '編輯菜單';
  font-size: 24px;
  font-weight: bold;
}

.dish.deleted {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  padding: 5px;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.dish.deleted::before {
  display: block;
  content: '刪除餐點';
  font-size: 24px;
  font-weight: bold;
}

.dish.selected .button-submit {
  background: #66B3FF;
}

.dish.deleted .dish__button {
  background: #66B3FF;
}

.dish__img {
  object-fit: cover;
  width: 292px;
  height: 292px;
}

.dish__name,.dish__amount,.dish__price {
  font-size: 18px;
  color: #3f633c;
}

.selected > div {
  margin-top: 10px;
}

.selected > div span {
  border: 1px solid black;
  padding: 3px;
}

.button-remove {
  background-color: white;
  color: #000000;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  transform: rotate(45deg);
  cursor: pointer;
  top: 2px;
  right: 2px;
  display: block;
  position: absolute;
}

.editmenu__info-content {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.dish__button {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  color: #3f633c;
  width: 292px;
  margin: 22px auto 0 auto;
  padding: 15px 0;
  border: solid 1px #3f633c;
  background-color: #f1fff2;
}

.dish__button a {
  color: #3f633c;
  text-decoration: none;
  padding: 15px 128px;
}

.newdish {
  margin-top: 60px;
}

.newdish__title {
  font-weight: bold;
  font-size: 24px;
}

.newdish__info {
  margin: 42px 30px 0 105px;
}

.newdish__info-content {
  display: flex;
  align-items: center;
}

.newdish__info-content label {
  flex-basis: 120px;
  text-align: right;
}

.newdish__info-content input {
  box-sizing: border-box;
  height: 38px;
  padding: 5px 5px;
  flex: 1;
  margin-left: 20px;
}

.newdish__info-content+.newdish__info-content {
  margin-top: 20px;
}

.button-upload {
  display: block;
  cursor: pointer;
  margin-top: 42px;
  margin-left: auto;
  text-align: center;
  line-height: 46px;
  width: 184px;
  height: 46px;
  border: 1px solid #3f633c;
  background-color: #f1fff2;
}

.hidden {
  display: none;
}

footer {
  margin-top: 48px;
}

.footer__top {
  background: #e8efee;
  padding: 32px 0px;
  color: #484848;
}

.footer__topwrapper {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
}

.footer__link a {
  text-decoration: none;
  color: #484848;
  transition: all 0.2s;
}

.footer__link a:hover {
  color: #E0E0E0;
}

.footer__link a+div {
  margin: 0 3px;
}


.footer__site {
  color: #489846;
  font-size: 36px;
}

.footer__info div+div {
  margin-top: 10px;
  margin-right: 16px;
}

.footer__bottom {
  background: #35564b;
  text-align: center;
  padding: 12px 0px;
  color: white;
  font-size: 16px;
}

.footer__bottomwrapper {
  display: flex;
  justify-content: center;
}

@media(max-width: 768px) {

  .navbar {
    height: 120px;
  }

  .navbar__wrapper {
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
    padding: 0px;
  }

  .navbar__list {
     width: 100%;
     margin-top: 10px;
  }

  .navbar__list li {
    margin-left: 0px;
    flex: 1;
    text-align: center;
  }

  .navbar__list li a {
    border-radius: 0;
    padding: 12px 8px;
  }

  .dishes {
    flex-direction: column;
  }

  .dish {
    flex: 1
  }

  .newprize__info {
    margin-left: auto;
    margin-right: auto;
  }

  .newprize__info-content {
    flex-direction: column;
  }

  .newprize__info-content label {
    flex: 1;
  }

  .newprize__info-content input, .newprize__info-content textarea {
    margin-left: 0;
    margin-top: 20px;
    width: 90%;
  }

  .footer__topwrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin-right: 0;
    margin-top: 16px;     
  }

  .footer__bottomwrapper {
    flex-direction: column;
  }
}

